$white: #bbb;
$red: #ce7a82;
$blue: #76a8d2;
$orange: #c78975;
$purple: #b48ead;
$yellow: #f1c876;
$grey: #666666;

a {
  color: $purple;
  background-color: rgba($purple, 0.1);
  &:hover {
    background-color: rgba($purple, 0.2);
  }
}

.yellow { color: $yellow }
.grey { color: $grey }
.red { color: $red }
.orange { color: $orange }
.purple { color: $purple }
